.sale-accordion-box {
	--bs-accordion-color: #000;
	--bs-accordion-bg: #fff;
	--bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	--bs-accordion-border-color: var(--bs-border-color);
	--bs-accordion-border-width: 1px;
	--bs-accordion-border-radius: 0.375rem;
	--bs-accordion-inner-border-radius: calc(0.375rem - 1px);
	--bs-accordion-btn-padding-x: 1.25rem;
	--bs-accordion-btn-padding-y: 1rem;
	--bs-accordion-btn-color: var(--bs-body-color);
	--bs-accordion-btn-bg: var(--bs-accordion-bg);
	--bs-accordion-btn-icon: url("data:image/svg + xml,%3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 16 16'fill='var%28--bs-body-color%29'%3e%3cpathfill-rule='evenodd'd='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	--bs-accordion-btn-icon-width: 1.25rem;
	--bs-accordion-btn-icon-transform: rotate(-180deg);
	--bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
	--bs-accordion-btn-active-icon: url("data:image/svg + xml,%3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 16 16'fill='%230c63e4'%3e%3cpathfill-rule='evenodd'd='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	--bs-accordion-btn-focus-border-color: #ea143b !important;
	--bs-accordion-btn-focus-box-shadow: none !important;
	--bs-accordion-body-padding-x: 1.25rem;
	--bs-accordion-body-padding-y: 1rem;
	--bs-accordion-active-color: #0c63e4;
	--bs-accordion-active-bg: #e7f1ff;
	margin-bottom: 20px !important;
}

.accordion-button:not(.collapsed) {
	box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color) !important;
}
.accordion-button::after {
	flex-shrink: 0;
	width: 1.75em;
	height: 1.75em;
	margin-left: auto;
	content: '';
	background-image: url(../../assets/icons/ic_chevron_up_fill_dk.svg);
	background-repeat: no-repeat;
	background-size: var(--bs-accordion-btn-icon-width);
	transition: var(--bs-accordion-btn-icon-transition);
	transform: rotate(-180deg);
}
.accordion-button:not(.collapsed)::after {
	background-image: url(../../assets/icons/ic_chevron_up_fill_dk.svg) !important;
	transform: none !important;
}

// .accordion-collapse {
//     background: $gray-150;
//     border-bottom-right-radius: 0 !important;
//     border-bottom-left-radius: 0 !important;
// }
