// 버튼 스타일별 디자인시스템 파일입니다.
.btn-filled-lg,
.btn-filled-md,
.btn-filled-sm,
.btn-filled-xs {
	img {
		vertical-align: bottom;
	}
}

/** *************************************
 * Button 공통 스타일링
 ************************************* **/

button[class|='btn'] {
	display: inline-block;
}

@mixin button-styling($border, $bg, $color) {
	border: $border;
	background-color: $bg;
	color: $color;
}

@mixin button-border-radius($border-radius) {
	border-radius: $border-radius;
}

/** *************************************
 * 클래스 중 사이즈를 제외한 스타일별 공통 스타일링 
 * ex) button 태그에 'btn-filled- ' 가 붙은 클래스에만 적용
 ************************************* **/

button[class|='btn-disabled'] {
	svg {
		fill: var(--gray-scale-08); //$text-550;
	}
}

/** *************************************
 * 클래스 중 사이즈별 공통 스타일링 
 * ex) button 태그에 'lg'로 끝나는 클래스에만 적용
 ************************************* **/

/** ********* 사이즈 별 너비, 높이, 패딩 적용. *********  **/

button[class$='lg'] {
	padding: 1.125rem 1.5rem; //18px 24px;
}

button[class$='md'] {
	padding: 1rem 1.5rem; // 16px 24px;
}

button[class$='sm'] {
	padding: 0.75rem 1.5rem; //12px 24px
}

button[class$='xs'] {
	padding: 0.625rem 1rem; //10px 16px
}

button[class$='sqr'] {
	padding: 0;
	min-width: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
}

/** ********* 사이즈 별 font-weight,-size,line-height,letter-spacing, border radius 적용. *********  **/

button[class$='lg'],
button[class$='md'] {
	@include subhead-03;
	@include button-border-radius($border-radius-large);
}

button[class$='sm'],
button[class$='xs'],
button[class$='sqr'] {
	@include subhead-02;
	@include button-border-radius($border-radius-small);
}

/** ********* 색상별 border, background color, color 적용. *********  **/

.btn-filled,
.btn-filled-lg,
.btn-filled-md,
.btn-filled-sm,
.btn-filled-xs,
.btn-filled-sqr {
	@include button-styling(1px solid var(--brand-bl-900), var(--brand-bl-900), var(--white));
}

.btn-line,
.btn-line-lg,
.btn-line-md,
.btn-line-sm,
.btn-line-xs,
.btn-line-sqr {
	@include button-styling(1px solid var(--brand-bl-900), var(--white), var(--brand-bl-900));
}

.btn-grayline,
.btn-grayline-lg,
.btn-grayline-md,
.btn-grayline-sm,
.btn-grayline-xs,
.btn-grayline-sqr {
	@include button-styling(1px solid var(--gray-scale-06), var(--white), var(---gray-scale-15));
	&:hover {
		background-color: var(--gray-scale-02);
	}
}

.btn-hover,
.btn-hover-lg,
.btn-hover-md,
.btn-hover-sm,
.btn-hover-xs,
.btn-hover-sqr {
	@include button-styling(1px solid var(--gray-scale-06), var(--gray-scale-02), var(---gray-scale-15));
}

.btn-grayfilled,
.btn-grayfilled-lg,
.btn-grayfilled-md,
.btn-grayfilled-sm,
.btn-grayfilled-xs,
.btn-grayfilled-sqr {
	@include button-styling(1px solid var(--gray-scale-03), var(--gray-scale-03), var(---gray-scale-15));
	&:hover {
		border-color: var(--gray-scale-06);
	}
}

.btn-disabled,
.btn-disabled-lg,
.btn-disabled-md,
.btn-disabled-sm,
.btn-disabled-sqr,
.btn-disabled-xs {
	@include button-styling(1px solid var(--gray-scale-03), var(--gray-scale-03), var(--gray-scale-08));
}

/** *************************************
 *  (footer에 적용 돼 있음)
 ************************************* **/
.btn-focus {
	display: flex;
	align-items: center;
	padding: 10px 16px;
}

/** *************************************
 * btn background none
 ************************************* **/
.btn-bg-none {
	background-color: transparent;
	border: transparent;
}

/** *************************************
 * 속성 선택자 오류로 클래스에 패딩 쐐기 박기...
 ************************************* **/

.btn-filled-lg,
.btn-line-lg,
.btn-grayline-lg,
.btn-hover-lg,
.btn-grayfilled-lg,
.btn-disabled-lg {
	@include subhead-03;
	@include button-border-radius($border-radius-large);
	padding: 1.125rem 1.5rem; //18px 24px;
}

.btn-filled-md,
.btn-line-md,
.btn-grayline-md,
.btn-hover-md,
.btn-grayfilled-md,
.btn-disabled-md {
	@include subhead-03;
	@include button-border-radius($border-radius-large);
	padding: 1rem 1.5rem; // 16px 24px;
}

.btn-filled-sm,
.btn-line-sm,
.btn-grayline-sm,
.btn-hover-sm,
.btn-grayfilled-sm,
.btn-disabled-sm {
	@include subhead-02;
	@include button-border-radius($border-radius-small);
	padding: 0.75rem 1.5rem; //12px 24px
}
.btn-filled-xs,
.btn-line-xs,
.btn-grayline-xs,
.btn-hover-xs,
.btn-grayfilled-xs,
.btn-disabled-xs {
	@include subhead-02;
	@include button-border-radius($border-radius-small);
	padding: 0.625rem 1rem; //10px 16px
}
