/**
 * Search Bar Style
 * 디자인 시스템에 맞게 코드 이동, 파일생성 해주세요.
 **/

.searchbar {
	position: relative;
	width: 100%;
	height: 2.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--brand-bl-50);
	border-radius: 12px;
	padding: 0.75rem 1rem;
	background-color: var(--brand-bl-50);

	&:hover {
		border-color: #78727f;
	}

	div:first-child {
		padding-right: 0.875rem;
	}

	input {
		width: 100%;
		background-color: var(--brand-bl-50);
		border: 1px solid transparent;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: -0.006em;
		color: var(--light-text-04);

		&::placeholder {
			color: var(--light-text-04);
		}

		&:focus-visible {
			border: none;
			outline: none;
		}
	}

	.clear {
		padding-left: 14px;

		button {
			margin: 0;
			background-color: rgba(0, 0, 0, 0);
			border: none;
		}
	}
	.search-btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 2px;

		width: 24px;
		height: 24px;

		/* ch-IN/BL-900 */

		background: #3366ff;
		border-radius: 4px;
	}
}

.searchbar-focus {
	border-color: #78727f;
}

/*******************************************************************************************
 * Input Style by pts
 * 디자인 시스템에 맞게 코드 이동, 파일생성 해주세요.
 **/

// 기본 인풋
.cic-input-default {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 16px;
	padding: 12px 16px;
	background-color: var(--brand-bl-50);
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.006em;

	&:hover {
		border-color: var(--gray-scale-02); //$gray-500;
	}

	input {
		border-radius: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		border: none;
		text-align: right;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-text-02);
		// line-height: 28px;
		// font-weight: 600;
		// letter-spacing: -0.006em;

		&::placeholder {
			color: var(--gray-scale-08); //$gray-08;
		}

		&:focus-visible {
			border: none;
			outline: none;
		}
	}
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	button {
		margin: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: fit-content;
		border: none;
		background-color: rgba(0, 0, 0, 0);

		&:hover {
			color: var(--gray-500);
		}

		span {
			width: fit-content;
			padding: 0px 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// 더블 인풋
.cic-double-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: none;
	border-radius: 16px;
	padding: 13px 16px;
	background-color: #f8f7f9;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.006em;

	&:hover {
		border-color: var(--gray-scale-02); //$gray-500;
	}

	input {
		margin: 0;
		padding: 0;
		width: 100%;
		border: none;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-text-02); //$text-800;
		line-height: 24px;
		letter-spacing: -0.006em;

		&::placeholder {
			color: var(--gray-scale-08); //$gray-08;
		}

		&:focus-visible {
			border: none;
			outline: none;
		}
	}
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	button {
		margin: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: fit-content;
		border: none;
		background-color: rgba(0, 0, 0, 0);

		&:hover {
			color: var(--gray-500);
		}

		span {
			width: fit-content;
			padding: 0px 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	input:nth-child(1) {
		width: 25% !important;
		border-right: 1px solid var(--gray-scale-06) !important; //$gray-200;
	}
	input:nth-child(2) {
		padding-left: 16px;
	}
	.cic-icon-input-p-2 {
		padding-left: 8px !important;
	}
}
// 좌측에 icon이 들어가는 인풋
.cic-icon-input {
	border-right: 1px solid var(--gray-200) !important;
	border-radius: 0;
	padding-right: 8px;
}
// 스몰 인풋
.cic-small-input {
	width: 3.75rem; //60px
	height: 40px;
	border-radius: 12px;
	padding: 12px 16px;

	&:hover {
		border-color: var(--gray-scale-02); //$gray-500;
	}

	input {
		margin: 0;
		padding: 12px 16px;
		width: 100%;
		border: none;
		background-color: rgba(0, 0, 0, 0);
		color: var(--light-text-02); //$text-800;
		line-height: 24px;
		letter-spacing: -0.006em;

		&::placeholder {
			color: var(--gray-scale-08); //$gray-08;
		}

		&:focus-visible {
			border: none;
			outline: none;
		}
	}
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.cic-input-default-focus {
	border: 1px solid var(--gray-scale-02); //$gray-500;
	background-color: #ffffff !important;
}

.cic-input-default-read-only {
	border: transparent !important;
	background-color: var(--gray-scale-05); //var(--gray-scale-05); //$gray-150;
	&:hover,
	&:focus,
	&:active {
		border: transparent !important;
	}
}

/** 
   * 인포 상태
   */
.cic-input-info {
	background-color: var(--info-bg);
}

.cic-input-info-focus {
	border: 1px solid var(--gray-scale-02); //$gray-500 !important;
	background-color: var(--white) !important;
}
/** 
   * 에러 상태
   */
.cic-input-error {
	border: 1px solid var(--danger-main);
	background-color: var(--danger-bg);
	color: var(--danger-main);
	input {
		color: var(--danger-main);
	}
}

.cic-input-error-focus {
	border: 1px solid var(--gray-scale-02); //$gray-500 !important; //grat_500
	background-color: var(--danger-bg);
}

/** 
   * 성공 상태
   */
.cic-input-success {
	border: 1px solid var(--suc-main);
	background-color: var(--suc-bg);
	color: var(--suc-main);

	input {
		color: var(--suc-main);
	}
}

.cic-input-success-focus {
	border: 1px solid var(--gray-scale-02); //$gray-500 !important; //grat_500
	background-color: var(--suc-bg);
}

/**
 * 커스텀 셀렉트 드롭다운 리스트 스타일
 *
 **/

.select-default {
	position: relative;

	.select-filled-default-btn {
		@include select-filled-default-btn();
		&:focus {
			background-color: var(--white);
			border: 1px solid var(--gray-scale-02); //$gray-500;
		}
		// &::after {
		//     content: url(./icons/ic_chevron_down_fill_dk.svg);
		//     // position: absolute;
		// }
	}

	.select-default-btn {
		@include select-default-btn();
		&:focus {
			background-color: var(--white);
			border: 1px solid var(--gray-scale-02); //$gray-500;
		}
		// &::after {
		//     content: url(./icons/ic_chevron_down_fill_dk.svg);
		//     // position: absolute;
		//     // right: 1%;
		// }
	}

	//select-disabled Dropdown 스타일

	.select-disabled-btn {
		@include select-disabled-btn();
		// &::after {
		//     content: url(./icons/ic_chevron_down_fill_dk.svg);
		//     // position: absolute;
		//     // right: 3%;
		// }
	}

	.dropdown-menu > .dropdown-item,
	.dropdown-menu > .detail {
		padding: 16px;
	}
}
