[class*='message-'] {
	img,
	svg {
		margin-right: 7px;
	}
}

@mixin message-color($svg: var(--light-text-03), $font: var(--light-text-03)) {
	svg {
		fill: $svg;
	}

	p {
		color: $font;
	}
}

.message-box-default {
	@include message-color;
	display: flex;
	align-items: center;
	p {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 18px;
		letter-spacing: -0.006em;
	}
}

.success-message {
	@include message-color(var(--suc-main), var(--suc-main));
}

.error-message {
	@include message-color(var(--danger-main), var(--danger-main));
}

@media (max-width: 599px) {
	.message-info-box {
		p {
			max-width: 70%;
		}
	}
}
