// 공동 modal 레이아웃 스타일

.cic-modal-container {
	// width: 23.625rem;
	padding: 2em 0 0;
	height: auto;
	border-radius: 1rem;
	border: none;
}
.cic-modal-header {
	padding: 2rem;
	padding-top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cic-modal-body {
	padding: 8px 24px 24px;
	// padding: 8px 24px !important;
	gap: 8px;
	position: relative;
	flex: 1 1 auto;
	background: #fff;
	height: 100%;
	border-radius: 1rem;
}
.cic-modal-btn-cont {
	padding: 20px 24px 32px !important;
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 14px;
}
.cic-modal-headback-btn {
	// 전 모달로 이동하는 모달 헤더 btn. --2depth
	background: #fff;
	border: none;

	svg {
		margin-right: 8px; // < 아이콘
	}
}

.connect-modal-cont {
	width: 21.25em;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

// 채널 아이앤 모달 size
// * 웹에선 지정된 size 모달이며,
// * 모바일에선 full size 로 나타내기 위해 만듦

.in-md-modal {
	// width: 22.5em;
	width: 25em;
}
@media (max-width: 650px) {
	#swap-modal {
		background-color: #fff;
	}
	.modal-dialog-centered,
	.modal-dialog {
		display: flex;
		height: 100%;
		margin: 0;
	}
	.in-md-modal {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	.fixed-btn-area {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #fff;
		.spinner-border {
			width: 20px;
			height: 20px;
			border: 0.2em solid currentColor;
			border-right-color: transparent;
		}
	}
}
