.select-default {
	width: 100%;
	position: relative;
}
.flex-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
//셀렉트 버튼 default 스타일
.cic-select-default-btn {
	background: #fff;
	border: 1px solid var(--gray-scale-06);
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 16px;
	width: 100%;
	@include subhead-03;
	color: var(--light-text-02);

	img,
	svg {
		width: 1.25rem;
	}
	.value-name {
		margin-left: 12px;
	}
	&:focus {
		border-color: var(--gray-scale-08);
	}
}
// 셀렉트 버튼 disabled 스타일
.cic-select-default {
	background-color: var(--gray-scale-05);
}
.cic-select-default:focus {
	border: 1px solid var(--gray-scale-06);
}

// 셀렉트 표출 되는 리스트들
.cic-dropdown-pannel {
	border: none;
	filter: drop-shadow(0px 0px 12px rgba(46, 12, 84, 0.15));
	border-radius: 16px;
	width: 100%;
	background: #fff;
	margin-top: 16px !important; // bootstrap .dropdown-menu은 margin:0 으로 선언 돼 있어 important로 위치값 변경 해야함

	li {
		padding: 16px;
		border-top: 1px solid var(--gray-scale-04);
		cursor: pointer;
		transition: 0.3s;
		display: flex;
		align-items: center;
		padding: 16px;
		gap: 14px;

		.name {
			@include subhead-03;
		}
	}
	li:first-child {
		border-top: none;
	}
	li:hover {
		background-color: var(--gray-scale-04);
	}
}

// disabled일 경우 list가 표출 안되게끔
.cic-dropdown-pannel.disabled {
	display: none !important;
}
