label {
}

span {
	vertical-align: middle;
}

[type='checkbox'] {
	//checkbox를 스타일하기 위해선 input요소를 화면에서 숨기고 임의로 만든 요소를 보여주는 등
	//일종의 눈속임을 하기 위해서 별짓을 다 했지만 이러면 css가 복잡해지고 사용하기 어렵습니다
	//최근에 추가된 'appearance'속성을 적용하면 기본 스타일이 깔끔하게 제거되기 때문에 백지 상태에서 스타일이 가능해집니다.
	appearance: none;
	background: #fff;
	border: 2px solid var(--gray-scale-06); //$gray-200;
	border-radius: 6px;
	width: 1.5rem; //24px
	height: 1.5rem; //24px
	transition: border 0.2s ease-in-out;
}

[type='checkbox']:checked {
	border: 2px solid var(--brand-bl-900);
	background: var(--brand-bl-900);
	content: url(../../assets/icons/ic_checkbox_fill_dk.svg);
}

[type='checkbox']:focus-visible {
	//키보드 방향키로 선택할시
	outline-offset: max(2px, 0.1em);
	outline: max(2px, 0.1em) dotted var(--brand-bl-900);
}

[type='checkbox']:disabled {
	background-color: var(--gray-scale-06);
	border: 2px solid var(--gray-scale-07);
	box-shadow: none;
	opacity: 0.7;
	cursor: not-allowed;
}

[type='checkbox']:disabled + span {
	opacity: 0.6;
	cursor: not-allowed;
}
