label {
}

span {
	vertical-align: middle;
}

[type='radio'] {
	//radio를 스타일하기 위해선 input요소를 화면에서 숨기고 임의로 만든 요소를 보여주는 등
	//일종의 눈속임을 하기 위해서 별짓을 다 했지만 이러면 css가 복잡해지고 사용하기 어렵습니다
	//최근에 추가된 'appearance'속성을 적용하면 기본 스타일이 깔끔하게 제거되기 때문에 백지 상태에서 스타일이 가능해집니다.
	vertical-align: middle;
	appearance: none;
	border: 2px solid var(--gray-scale-06);
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	transition: border 0.2s ease-in-out;
}

[type='radio']:checked {
	border: 5px solid var(--brand-bl-900);
}

[type='radio']:focus-visible {
	//키보드 방향키로 선택할시
	outline-offset: max(2px, 0.1em);
	outline: max(2px, 0.1em) dotted var(--brand-bl-900);
}

[type='radio']:disabled {
	background-color: var(--gray-scale-06);
	border: 2px solid var(--gray-scale-07);
	box-shadow: none;
	opacity: 0.7;
	cursor: not-allowed;
}

[type='radio']:disabled + span {
	opacity: 0.6;
	cursor: not-allowed;
}
