/** *******************************************
 *  레이아웃 > 해더 스타일 추가 정의
 ******************************************* **/

body {
    // modal-open 으로 인해 레이아웃이 깨지는 것을 막기 위함
    padding-right: 0 !important;
    overflow-x: hidden;

    //드래그 방지
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: var(--header-height);
    padding: 0 16px !important;

    .inner-box {
        // max-width: 1364px;
        width: 100%;
        // margin: 0 auto;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            position: relative;
            //header 높이를 92px로 맟추기 위함
            // padding: 31px 20px 31px 0;
            img {
                width: 167px;
            }

            .badge {
                position: absolute;
                top: 6px;
                right: -46px;
                display: flex;
                align-items: center;
                background-color: var(--brand-bl-900);
                border-radius: 16rem;
            }
        }

        .search-bar {
            flex-grow: 1;
            max-width: 756px;
            padding: 0 24px;
        }

        .menus {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            color: var(--light-text-03);
            padding: 0;
        }
    }
}

// 해더에 있는 가로 메뉴를 별도의 스타일로 정의
.line-menu {
    min-width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        display: flex;
        align-items: center;
        justify-items: center;
        margin: 0 1rem;
        border-radius: 8px;
    }

    .vl {
        border-left: 1px solid var(--table-scale-02);
        height: 32px;
        // margin: 0;
    }

    .hover {
        &:hover {
            color: #242424;
            background: #f8f7f9;
            outline: none;
            // &[class*="font-"]:hover{
            //   color: #242424;
            // }
        }
    }
    @media screen and (max-width: 1200px) {
        .btn {
        }
    }
}

.line-menu-txt {
    padding: 0.625rem 0.875rem;
    text-align: center;
}

//*  반응형에 따른 버튼 Show / Hide 처리를 위한 스위치 스타일
// .menu-language,
.menu-myprofile,
.menu-wallet {
    display: flex !important;
    border-radius: 6px;
    color: var(--light-text-03);
}

// .menu-search,
.menu-hambuger {
    display: none !important;
    button {
        border: transparent;
        &:hover {
            border: transparent;
            background-color: inherit;
        }
    }
}

.menu-text-line {
    display: flex !important;
}

.wallet-address {
    // margin: 7px 7px 0;
    padding: 0.625rem;
    vertical-align: middle;
    border: 1px solid var(--brand-bl-900);
    border-radius: 8px;
    color: var(--brand-bl-900);
    background-color: var(--table-scale-04);
    cursor: pointer;

    svg {
        margin: 0 8px 0 0;
        fill: var(--brand-yellow-01);
    }

    &:hover {
        color: var(--table-scale-04);
        background-color: var(--brand-bl-900);

        svg {
            fill: var(--table-scale-04);
        }
    }
}

/** 
 *  Layout main
 *   <main className="contatiner">
 **/
main {
    padding-top: var(--header-height);
    flex: 1 0 auto;
}

/**  레이아웃 > 사이드바 스타일 추가 정의 **/
header + .sidebar,
.sidebar {
    max-height: 900px;
    overflow-y: scroll;
    margin: 0px 16px 16px;
    top: 11%;
    width: 25em; //400px
    // height: fit-content;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    z-index: 1029;

    .sidebar-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        padding: 1.25em;
        border-bottom: 1px solid var(--gray-150);
    }
    .sidebar-body {
        width: 100%;
        position: relative;
        padding: 0;
        color: var(--light-text-03);
    }

    .offcanvas-backdrop.show {
        // opacity: 0 !important;
    }

    /** *************************************
         *  레이아웃 > 사이드바 > 지갑 연결 안됨
         ************************************ **/

    .connect-description {
        padding: 1.5em 1.25em 1.25em 1.25em;
    }

    //지갑 연결 버튼
    .login-container {
        margin: 1.25em;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .login-btn button {
            img {
                padding-right: 0.625rem;
            }
            svg {
                margin-right: 0.625rem;
            }
        }
    }

    /** *************************************
 *  레이아웃 > 사이드바 > 지갑 연결 후 지갑 정보
 ************************************ **/

    .wallet-info {
        margin: 1.25em;
        padding: 1rem;
        border: 1px solid var(--gray-150);
        border-radius: 12px;

        .wallet-info-flex {
            margin-left: 0.75rem;

            .wallet-type-tit {
                color: #929292;
                font-size: 0.875em;
            }
            .wallet-address {
                color: #7e25e2;
                font-size: 1em;
                font-weight: 600;
            }
        }

        .wallet-info-button {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            .wallet-btn-token {
                width: 48%;
            }
        }

        .wallet-balance {
            padding: 1rem 1rem 0 1rem;
            border: 1px solid var(--gray-150);
            border-radius: 12px;
            margin-top: 16px;

            div {
                color: #3d3d3d;
                margin-bottom: 12px;
            }
        }

        .wallet-info-icon {
            display: flex;

            img {
                width: 24px;
                height: 24px;
                align-self: center;
            }
        }
    }

    /** *************************************
        *  레이아웃 > 햄버거 메뉴
        ************************************ **/

    .m-menu-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }

    // .m-menu-language {
    //     padding: 0 0 16px 0;

    //     label {
    //         padding: 9px 0;
    //     }
    // }

    .m-menu-sns {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--gray-150);

        div {
            padding: 20px 16px;
        }
    }

    .relative-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .m-menu {
        position: absolute;
        border-top: 1px solid var(--table-scale-02);
        top: 0;
        left: 0;
        max-width: 100%;
        width: calc(100vw - 30px);
        height: 100%;
        transition: transform 0.35s;
        z-index: 1;
        overflow: hidden;
        background-color: var(--white);
        font-size: 1.25rem;

        .m-menu {
            -moz-transform: translate3d(100%, 0, 0);
            -o-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100%, 0, 0);
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        .m-menu-header {
            display: flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: -webkit-flex;
            justify-content: flex-start;
            align-items: center;
            -webkit-align-items: center;
            border-bottom: 1px solid #e8e8e8;

            span {
                text-align: left;
                width: 100%;
            }
        }

        ul {
            padding: 0.875rem 0;
            height: 100%;
            display: flex;
            flex-flow: column;

            li {
                label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: left;

                    padding: 1rem 1.875rem;
                    cursor: pointer;
                    // position: relative;

                    a,
                    span {
                        flex-grow: 1;
                    }

                    img,
                    svg {
                        margin-right: 10px;
                        width: 32px;
                        height: 32px;
                    }
                }
            }
            .m-menu-language {
                margin-top: auto;
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 0.875rem;

                li {
                    margin: 0 1.25rem;
                    position: relative;

                    ::after {
                        position: absolute;
                        content: '';
                        border-right: 1px solid #3d3d3d;
                        width: 1px;
                        height: 18px;
                        top: 50%;
                        right: -20px;
                        transform: translateY(-50%);
                    }

                    button {
                        background-color: transparent;
                        color: inherit;
                    }
                }
                li:nth-of-type(4) {
                    ::after {
                        display: none;
                    }
                }
            }
        }
    }

    .m-menu-checkbox {
        display: none;

        &:checked ~ .m-menu--overlay {
            display: block;
        }

        &:checked ~ .m-menu {
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .m-menu-toggle {
        cursor: pointer;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;

        svg {
            margin-right: 4px;
        }
    }

    /* Header 내정보 info_sidebar */
    .profile-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    .profile-img {
        width: 2.5em; //40px
        height: 2.5em;
        background: var(--brand-bl-100);
        border-radius: 999px;
    }
    .profile-frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .wallet-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 100%;
            gap: 8px;
        }
    }

    .assets-area {
        padding: 36px 0px 0px;

        .assets-title {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .assets-box {
            display: flex;
            flex-direction: column;
            margin: 16px 0px 0px;
            // gap: 8px;
            // width: 100%;
            // max-height: 440px; //630px
            // overflow-y: scroll;
            overflow-style: none; /* IE and Edge */
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                width: 0px; /* 세로축 스크롤바 길이 */
                height: 0px; /* 가로축 스크롤바 길이 */
            }
            ul {
            }
        }
    }
    .assets {
        padding: 1.25rem;
        background: var(--brand-bl-50);
        border-radius: 12px;
        margin-bottom: 0.5rem;
    }
    .asset {
        display: flex;

        align-items: center;

        .assets-token-blance {
            padding-right: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column !important;
            text-align: right;
        }
    }
    .add-token-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0em 0em;
        width: 100%;

        button {
            width: 2.5em;
            height: 2.5em;
        }
    }
}
/**  Footer **/

/************************************************************************************************************/
/*                                                                                                          */
/* Footer Styles                                                                                            */
/*                                                                                                          */
/************************************************************************************************************/

// &:hover {
//     background-color: var(--all-white);
// }
footer {
    border-top: 1px solid var(--gray-scale-09);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 44px;
    padding: 2.5rem 0;
    background-color: #22252d;
    font-size: 0.875rem;
    color: var(----light-text-05);

    .copyright {
        order: 0;
        color: var(--light-text-04);
    }
    .footer-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 44px;
        justify-content: space-between;

        a {
            display: block;
            // padding: 0 16px;
            color: var(--light-text-05);
        }
    }
}

@media (max-width: 1023px) {
    footer {
    }
}

.foot-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sitemap {
    padding-bottom: 4rem;
    color: var(--gray-scale-08);
}

.sitemap_box {
    padding-bottom: 4rem;
    color: var(--gray-scale-08);

    .enabled {
        color: var(--gray-scale-05);
    }

    ul {
        padding-top: 1.5rem;
        padding-left: 0;
        list-style: none;
        li:first-child {
            margin-top: 0;
        }

        li {
            margin-top: 0.5rem;

            a {
                font-size: 0.875rem;
                color: var(--gray-scale-08);
                &:hover {
                    color: var(--brand-orange-01);
                }
            }
        }
    }
}
.enabled:hover {
    color: var(--brand-orange-01);
}

.wallet-download-box {
    float: right;
}

.wallet-download-box > .title {
    text-align: center;
}

.wallet-download-box > .title > span {
    padding: 0 1rem;
}

.wallet-download-box > .app-buttons {
    padding: 1rem 0 7rem;
}

.wallet-download-box > .app-buttons > div > a {
    padding: 0.378rem 1.25rem;

    border: 1px solid var(--gray-scale-06);
    border-radius: 1.5rem;
    color: var(--all-white);
}

.wallet-download-box > .app-buttons > div > a > span {
    font-size: 0.75rem;
}
.wallet-download-box > .app-buttons > div > a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.support-box {
    max-width: 100%;
}

.support-box > span > a {
    color: var(--all-white);
}

.support-box > .sns-box {
    /* margin: 2rem 0; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 13%;
}
@media screen and (max-width: 800px) {
    .support-box > .sns-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.support-box > .m-sns-box {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright * {
    font-size: 0.875rem;
}

.copyright > .col-12 {
    margin: 1.5rem 0;
    width: 100%;
    gap: 2.75rem;
}

@media screen and (max-width: 650px) {
    .copyright > .col-12 {
        flex-wrap: wrap;
    }

    .copyright > .col-12 span {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .copyright > .col-12 > .btn-group:last-child {
    }
}

.copyright-small {
    color: var(--light-text-04);
    // font-size: 0.75rem;

    // a {
    //     font-size: 0.75rem;
    //     color: var(--light-text-04);
    //     text-decoration: underline;
    // }
}

.footer-btn {
    padding: 0.375rem 1rem;
    border-color: var(--light-text-05);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    background: transparent;
    color: var(--light-text-05);

    &:hover {
        color: var(--light-text-05);
    }
}

.dropbox-family-site {
    padding: 0.625rem;
    background-color: var(--all-white);
    color: var(--light-text-01);
    // border: 1px solid var(--gray-scale-07);
    border-radius: 0.5rem;
    text-align: left;
}

.dropbox-family-site > li {
    padding: 0.5rem 0.25rem;
}
.dropbox-family-site > li:hover {
    background-color: var(--gray-scale-10);
    border-radius: 0.5rem;
}

.dropbox-family-site > li > a {
    font-size: 0.875rem;
}

.dropbox-family-site > li > button {
    color: var(--light-text-01);
    background-color: transparent;
}

.menu-language .dropdown-item {
    // padding: 8px 4px !important;
}

.dropup {
    position: relative;
}

.dropup-list {
    min-width: 8.75em;
    position: absolute;
    left: -9% !important;
    bottom: 15% !important;
}

.remove-min-width {
    min-width: auto !important;
}

/** *************************************
 *  드롭 업/다운 아이템 transform 설정
 ************************************ **/
.dropdown-item-transform {
    // width: 100% !important;
    inset: inherit !important;
    left: 50% !important;
    transform: translate(-50%, 75%) !important;
}

.dropdown-item-transform.language {
    top: -85px !important;
}

.dropup-item-transform {
    left: 50% !important;
    transform: translate(-25%, 20%) !important;
}

/** *******************************************
 *  Window width Size Media Query 
 ******************************************* **/

//browser windwow width 1200px ~
@media (min-width: 1200px) {
    // header **************
    .menu-language,
    .menu-myprofile,
    .menu-wallet {
        display: flex !important;
    }

    .menu-search,
    .menu-hambuger {
        display: none !important;
    }
    .search-bar {
        display: flex !important;
    }

    // .sidebar **************
    //nothing
}

//browser windwow width 1024px ~ 1199px
@media (max-width: 1199px) {
    // header **************
    // .menu-language,
    .menu-search {
        display: none !important;
    }
    .menu-myprofile,
    .menu-wallet {
        display: flex !important;
    }
    .search-bar {
        display: flex !important;
    }

    // .sidebar **************
    .sidebar,
    .m-menu {
        width: 23.625rem;
    }
}

//browser windwow width 600px ~ 1023px
@media (max-width: 1023px) {
    // header **************
    // .menu-language,
    .menu-myprofile,
    .menu-search {
        display: none !important;
    }

    // .menu-text-line {
    //     display: none !important;
    // }

    .search-bar {
        display: flex !important;
    }

    // .sidebar **************
    .m-menu {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .line-menu li {
        margin: 0;
    }

    .menu-wallet {
        // width: 70%;
        margin: 0 auto;
        font-size: 0.875rem;
    }
}

@media (max-width: 768px) {
    // header **************
    .logo {
        padding-right: 0 !important;
        img {
            width: 120px !important;
        }
    }

    // footer **************
    footer {
        .footer-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            a {
                display: block;
                // padding: 0 16px;
                color: var(--light-text-05);
            }
        }
    }
}

//browser windwow width min ~ 599px
@media (max-width: 600px) {
    // header **************
    header {
        height: var(--m-header-height);
    }
    .menu-language,
    .menu-myprofile,
    .vl {
        display: none !important;
    }

    .search-bar,
    .menu-text-line {
        display: none !important;
    }

    .menu-hambuger {
        display: flex !important;
    }

    .menu-wallet {
        width: auto;
    }

    // .sidebar **************

    main {
        padding-top: var(--m-header-height);
        .sidebar {
            margin: 0 auto;
            top: var(--m-header-height);
            width: 100%; //400px
            // height: fit-content;
            border: none;
            border-radius: 0;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
            z-index: 1029;
        }
    }

    .flag-account-bar {
        margin: 0 !important;
        top: 0 !important;
        z-index: 9999 !important;
    }

    footer {
        flex-flow: column;
        .copyright {
            order: 3;
        }
    }
}
