.modal-global-hide {
	display: none !important;
}

.modal-global-show {
	display: initial !important;
}
.global-model {
	// position: relative;
	z-index: 1001;
}
.modal-global-default {
	border: 10px solid red;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
}

.modal-global-backdrop {
	border: 10px solid red;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}
