// *              📌 text, fill color             * //

/*          Black & White         */
.black {
    color: var(--all-black);
    fill: var(--all-black);
}
.white {
    color: var(--all-white);
    fill: var(--all-white);
}

/*          Gray Scale         */
.g-01 {
    color: var(--gray-scale-01);
    fill: var(--gray-scale-01);
}
.g-02 {
    color: var(--gray-scale-02);
    fill: var(--gray-scale-02);
}
.g-03 {
    color: var(--gray-scale-03);
    fill: var(--gray-scale-03);
}
.g-04 {
    color: var(--gray-scale-04);
    fill: var(--gray-scale-4);
}
.g-05 {
    color: var(--gray-scale-05);
    fill: var(--gray-scale-05);
}
.g-06 {
    color: var(--gray-scale-06);
    fill: var(--gray-scale-06);
}
.g-07 {
    color: var(--gray-scale-07);
    fill: var(--gray-scale-07);
}
.g-08 {
    color: var(--gray-scale-08);
    fill: var(--gray-scale-08);
}
.g-09 {
    color: var(--gray-scale-09);
    fill: var(--gray-scale-09);
}
.g-10 {
    color: var(--gray-scale-10);
    fill: var(--gray-scale-10);
}
.g-11 {
    color: var(--gray-scale-11);
    fill: var(--gray-scale-11);
}
.g-12 {
    color: var(--gray-scale-12);
    fill: var(--gray-scale-12);
}
.g-13 {
    color: var(--gray-scale-13);
    fill: var(--gray-scale-13);
}
.g-14 {
    color: var(--gray-scale-14);
    fill: var(--gray-scale-14);
}
.g-15 {
    color: var(--gray-scale-15);
    fill: var(--gray-scale-15);
}

/*         Light-Text         */
.text-01 {
    color: var(--light-text-01);
    fill: var(--light-text-01);
}
.text-02 {
    color: var(--light-text-02);
    fill: var(--light-text-02);
}
.text-03 {
    color: var(--light-text-03);
    fill: var(--light-text-03);
}
.text-04 {
    color: var(--light-text-04);
    fill: var(--light-text-04);
}
.text-05 {
    color: var(--light-text-05);
    fill: var(--light-text-05);
}
.text-06 {
    color: var(--light-text-06);
    fill: var(--light-text-06);
}

/*         Table Scale         */
.t-01 {
    color: var(--table-scale-01);
    fill: var(--table-scale-01);
}
.t-02 {
    color: var(--table-scale-02);
    fill: var(--table-scale-02);
}
.t-03 {
    color: var(--table-scale-03);
    fill: var(--table-scale-03);
}
.t-04 {
    color: var(--table-scale-04);
    fill: var(--table-scale-04);
}

/*         Brand-퍼프로젝트         */
.y-01 {
    color: var(--brand-yellow-01);
    fill: var(--brand-yellow-01);
}
.y-02 {
    color: var(--brand-yellow-02);
    fill: var(--brand-yellow-02);
}
.y-03 {
    color: var(--brand-yellow-03);
    fill: var(--brand-yellow-03);
}
.y-04 {
    color: var(--brand-yellow-04);
    fill: var(--brand-yellow-04);
}
.orange-01 {
    color: var(--brand-orange-01);
    fill: var(--brand-orange-01);
}
.orange-02 {
    color: var(--brand-orange-02);
    fill: var(--brand-orange-02);
}
.orange-03 {
    color: var(--brand-orange-03);
    fill: var(--brand-orange-03);
}
.orange-04 {
    color: var(--brand-orange-04);
    fill: var(--brand-orange-04);
}

/*         Brand-채널in         */
.bl-50 {
    color: var(--brand-bl-50);
    fill: var(---brand-bl-50);
}
.bl-100 {
    color: var(--brand-bl-100);
    fill: var(---brand-bl-100);
}
.bl-600 {
    color: var(--brand-bl-600);
    fill: var(---brand-bl-600);
}
.bl-800 {
    color: var(--brand-bl-800);
    fill: var(---brand-bl-800);
}
.bl-900 {
    color: var(--brand-bl-900);
    fill: var(---brand-bl-900);
}

/*         State         */
.active-01 {
    color: var(--state-active-01);
    fill: var(--state-active-01);
}
.active-02 {
    color: var(--state-active-02);
    fill: var(--state-active-02);
}
.pass-01 {
    color: var(--state-pass-01);
    fill: var(--state-pass-01);
}
.pass-02 {
    color: var(--state-pass-02);
    fill: var(--state-pass-02);
}
.reject {
    color: var(--state-reject);
    fill: var(--state-reject);
}
.no {
    color: var(--state-no);
    fill: var(--state-no);
}

/*         Red Scale         */
.red-01 {
    color: var(--red-scale-red-01);
    fill: var(--red-scale-red-01);
}
.red-02 {
    color: var(--red-scale-red-02);
    fill: var(--red-scale-red-02);
}

/*         state color Scale         */
.rd-drop {
    color: var(--rd-drop);
    fill: var(--rd-drop);
}
.gr-rise {
    color: var(--gr-rise);
    fill: var(--gr-rise);
}

// *                  📌 background-color                  * //

/*          Black & White         */
.bg-black {
    background-color: var(--all-black);
}
.bg-white {
    background-color: var(--all-white);
}

/*          Gray Scale         */
.bg-g-01 {
    background-color: var(--gray-scale-01);
}
.bg-g-02 {
    background-color: var(--gray-scale-02);
}
.bg-g-03 {
    background-color: var(--gray-scale-03);
}
.bg-g-04 {
    background-color: var(--gray-scale-04);
}
.bg-g-05 {
    background-color: var(--gray-scale-05);
}
.bg-g-06 {
    background-color: var(--gray-scale-06);
}
.bg-g-07 {
    background-color: var(--gray-scale-07);
}
.bg-g-08 {
    background-color: var(--gray-scale-08);
}
.bg-g-09 {
    background-color: var(--gray-scale-09);
}
.bg-g-10 {
    background-color: var(--gray-scale-10);
}
.bg-g-11 {
    background-color: var(--gray-scale-11);
}
.bg-g-12 {
    background-color: var(--gray-scale-12);
}
.bg-g-13 {
    background-color: var(--gray-scale-13);
}
.bg-g-14 {
    background-color: var(--gray-scale-14);
}
.bg-g-15 {
    background-color: var(--gray-scale-15);
}

/*         Light-Text         */
.bg-text-01 {
    background-color: var(--light-text-01);
}
.bg-text-02 {
    background-color: var(--light-text-02);
}
.bg-text-03 {
    background-color: var(--light-text-03);
}
.bg-text-04 {
    background-color: var(--light-text-04);
}
.bg-text-05 {
    background-color: var(--light-text-05);
}
.bg-text-06 {
    background-color: var(--light-text-06);
}

/*         Table Scale         */
.bg-t-01 {
    background-color: var(--table-scale-01);
}
.bg-t-02 {
    background-color: var(--table-scale-02);
}
.bg-t-03 {
    background-color: var(--table-scale-03);
}
.bg-t-04 {
    background-color: var(--table-scale-04);
}

/*         Brand-퍼프로젝트         */
.bg-y-01 {
    background-color: var(--brand-yellow-01);
}
.bg-y-02 {
    background-color: var(--brand-yellow-02);
}
.bg-y-03 {
    background-color: var(--brand-yellow-03);
}
.bg-y-04 {
    background-color: var(--brand-yellow-04);
}
.bg-orange-01 {
    background-color: var(--brand-orange-01);
}
.bg-orange-02 {
    background-color: var(--brand-orange-02);
}
.bg-orange-03 {
    background-color: var(--brand-orange-03);
}
.bg-orange-04 {
    background-color: var(--brand-orange-04);
}

/*         Brand-채널in         */
.bg-bl-50 {
    background-color: var(--brand-bl-50);
}
.bg-bl-100 {
    background-color: var(--brand-bl-100);
}
.bg-bl-600 {
    background-color: var(--brand-bl-600);
}
.bg-bl-800 {
    background-color: var(--brand-bl-800);
}
.bg-bl-900 {
    background-color: var(--brand-bl-900);
}

/*         State         */
.bg-active-01 {
    background-color: var(--state-active-01);
}
.bg-active-02 {
    background-color: var(--state-active-02);
}
.bg-pass-01 {
    background-color: var(--state-pass-01);
}
.bg-pass-02 {
    background-color: var(--state-pass-02);
}
.bg-reject {
    background-color: var(--state-reject);
}
.bg-no {
    background-color: var(--state-no);
}

/*         Red Scale         */
.bg-red-01 {
    background-color: var(--red-scale-red-01);
}
.bg-red-02 {
    background-color: var(--red-scale-red-02);
}
