.km-radio {
    opacity: 0; //기존의 input 태그 가려지기 위함
    position: absolute;
}

.km-radio,
.km-radio-label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.km-radio + .km-radio-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem; //24px
    height: 1.5rem; //24px
    padding: 2px;
    // margin-right: 10px;
    // text-align: center;
}

.km-radio + .km-radio-label:before {
    border-radius: 50%;
}

.km-radio:checked + .km-radio-label:before {
    content: '';
    background: #fff;
    border: 6px solid $bl-900;
}
