//토글버튼

.km-toggle-wrapper {
    input {
        &.km-toggle {
            opacity: 0; // hides checkbox
            position: absolute;
            & + label {
                //체크 전 스타일
                position: relative;
                display: inline-block;
                user-select: none;
                -moz-transition: 0.4s ease;
                -o-transition: 0.4s ease;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
                height: 1.75rem; //28px
                width: 3rem; //48px
                background-color: $gray-200;
                border-radius: 60px;

                &:before {
                    //체크 전 스타일
                    @include inactive-mixin;
                    @include before-animation;
                    height: 1.75rem; //28px
                    width: 3rem; //48px
                    top: 0;
                    left: 0;
                    border-radius: 30px;
                }
                &:after {
                    //● 토글버튼 스타일
                    @include inactive-mixin;
                    @include after-animation;
                    background-color: $white;
                    height: 1.5rem; //24px
                    width: 1.5rem; //24px
                    top: 2px;
                    left: 3px;
                    border-radius: 60px;
                }
            }
            // When Active
            &:checked {
                & + label:before {
                    background: $bl-900; // Active Color
                    -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
                    -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
                    -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
                    transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
                }
                & + label:after {
                    //체크 후 ● 토글버튼 위치
                    left: 21px;
                }
            }
        }
    }
}
