// @mixin dropdown-colors($brand-color, $dropdown-header-color, $dropdown-color, $background-color) {
//     background-color: $brand-color;

//     &:before {
//         color: $brand-color;
//     }

//     .dropdown-header:not([href]):not([tabindex]) {
//         color: $dropdown-header-color;
//     }

//     .dropdown-item {
//         color: $dropdown-color;

//         &:hover,
//         &:focus {
//             background-color: $background-color;
//         }
//     }

//     .dropdown-divider {
//         background-color: $background-color;
//     }
// }

@mixin dropdown-background {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    border-radius: 14px;
    box-shadow: 0 0 3px 0px gray;
    background-color: #fff;
    margin: 0;
    padding: 0;

    .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
