.gnb {
	margin: 1.5rem auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	a {
		display: block;
		margin: 1rem;
		padding: 0.75rem 1.5rem;
		border-radius: 0.5rem;
		background: #3366ff;
		color: #fff;
		font-weight: 600;
	}
}

section {
	padding: 0 1rem;
}
